@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  /* min-height: -webkit-fill-available; */
  font-family: 'Roboto', sans-serif;
  background: #17171e;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.sidebar {
  position: absolute;
  background: #25252f;
  width: 66px;
  min-height: 100vh;
  /* min-height: -webkit-fill-available; */
  left: 0px;
  top: 0px;
}
